
   .bg_typing{
    background-color: #040b14;

   }
   
   .terminal {
    top: 5px;
      width: 350px;
      height: 300px;
      margin: 100px auto;
      padding: 20px;
      background-color: #040b14;
      color: #ece8e8;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(11, 183, 236, 0.781);
      font-size: 18px;
      line-height: 1.6;
      z-index: 99999;
    }

    #terminal-output {
      white-space: pre-wrap; /* للحفاظ على التنسيقات */
      word-wrap: break-word;
      z-index: 99999;

    }
