
   .bg_typing{
    background-color: #040b14;

   }
   
   .terminal {
      width: 300px;
      height: 250px;
      margin: 100px auto;
      padding: 20px;
      background-color: #040b14;
      color: #4CAF50;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(2, 207, 71, 0.781);
      font-size: 16px;
      line-height: 1.6;
    }

    #terminal-output {
      white-space: pre-wrap; /* للحفاظ على التنسيقات */
      word-wrap: break-word;
    }
