

.btn_view  {
    font-size: 18px;
    background-color: #040b14;
    box-shadow: 0 4px 6px rgba(2, 207, 71, 0.781);

    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: aliceblue;
}

.btn_view svg {
    width: 25px;
    height: 25px;
}  








/* الحاوية الرئيسية */
#notification-container {
  position: fixed;
  top: 550px; /* نقلها إلى أعلى الصفحة */
  width: 100%;
  overflow: hidden;
      background-color: #040b14;
  padding: 10px 0;
  z-index: 0; /* للتأكد من أنها تظهر فوق أي عناصر أخرى */
}

/* الشريط المتحرك */
#notification {
  display: flex;
  white-space: nowrap;
  animation: moveText 30s linear infinite;
  align-items: center;
  gap: 10px;
}

/* تصميم الأزرار */
.dzikr {
  background-color: #040b14;
  color: #fff;
  box-shadow: 0 4px 6px rgba(2, 207, 71, 0.781);

  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.dzikr:hover {
  background-color: #0056b3;
}

/* حركة النصوص */
@keyframes moveText {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}
