

.btn_view  {
    font-size: 18px;
    background-color: #4CAF50;   
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: aliceblue;
}

.btn_view svg {
    width: 25px;
    height: 25px;
}  



/* تصميم الإشعار */
#notification {
    display: none; /* إخفاء الإشعار افتراضيًا */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 1000;
}

/* الحركة */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

/* عند إظهار الإشعار */
.show {
    display: block;
    animation: fadeInOut 3s ease-in-out; /* استمرار الإشعار لـ 3 ثوانٍ */
}
